#root > div > div:nth-child(1) > nav > a
{
font-size: 30pt;
margin-left: 530px;
font-weight: 300;
}
 div.menuItems > nav > ul{
    margin-left: 300px!important;
}
 div.menuItems > nav > ul > li{
padding-left: 130px;
padding-right:60px;
font-size:15pt;
color:#BFBFBF
}
.menuItems > nav > ul > li.active{
    color:#22313F;
    font-weight: bolder;
}
#root > div > div.App > div > div:nth-child(1) > div > div:nth-child(2) > div > table{
    min-width: 970px;
    border: 1px #bdc3c7 solid;
}
.table thead th{
    border-bottom-color: #bdc3c7!important;
}

#root > div > div.App > div > div:nth-child(1) > div > div:nth-child(2) > div > table th> tbody td {
    border-color: #bdc3c7!important;
}

#blockList{
    border: 1px #bdc3c7 solid;
}
#blockDetails{
    border: 1px #bdc3c7 solid;
    min-width: 730px;
}
#blockDetails > a{
    text-decoration: none;
}
#txDetails{
    border: 1px #bdc3c7 solid;
    min-width: 730px;
}
.container{
    padding-left: 280px;
}
.peerList{
    margin-left: 300px;
    max-width: 550px;
}
.scrollTable{
    height: 600px;
    overflow: auto;
}
.fixed-header thead >tr{
    position: relative;
}
.landing{
    margin-top: 450px;
    margin-left: 550px;
}
.landing > h1{
    font-size: 40pt;
}
.dashboard{
    margin-left: 300px;
}
.wip{
    color:#bdc3c7;
    font-size:16pt;
}